---
import { Icon } from "astro-icon";

const { technology } = Astro.props;
const { image, name, size } = technology;
const { width = "40px", height = "40px" } = size || {};
---

<div class="relative group">
  <Icon
    name={image}
    class="p-0 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
    style={`width: ${width}; height: ${height};`}
  />
  <p
    class="absolute top-0 w-full text-center text-xs font-semibold mt-3.5 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
  >
    {name}
  </p>
</div>
