---
const { images } = Astro.props;
---

<!-- Images Carousel wrapper -->
<div class="md:row-span-2 p-3">
  <div class="relative w-full" data-carousel="slide">
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      {
        images?.map((image: any) => (
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src={image.path}
              class="absolute block h-full w-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt={image.altText}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
