---
import { Icon } from "astro-icon";
---

<article
  class="bg-df-yellow-dark md:grid md:grid-rows-[1fr_min-content] md:grid-cols-[2fr_3fr] rounded-lg p-6 gap-4 my-6"
>
  <!-- Title and description -->
  <div class="flex flex-col justify-center h-full text-df-background">
    <h3
      class="text-1xl font-extrabold leading-none tracking-tight md:text-2xl lg:text-3xl"
    >
    Licencias provisionales
    </h3>
    <p class="mt-2 text-1xl text-balance">
      Permite a los emprendedores obtener rápidamente las autorizaciones necesarias para desplegar sus ideas y proyectos en los espacios públicos de la ciudad de Piura - Perú.
    </p>
  </div>
  <!-- Images Carousel wrapper -->
  <div class="md:row-span-2 p-3">
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
      
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/assets/screens/rrhh1.webp"
            class="absolute block h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/assets/screens/rrhh2.webp"
            class="absolute block h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="/assets/screens/rrhh3.webp"
            class="absolute block h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        
        
      </div>      
    </div>
  </div>
  <!-- Icons -->
  <div class="flex gap-2 items-end justify-center lg:justify-between flex-wrap p-0 m-0">
    <div class="flex gap-1 pb-1.5">
      <div class="relative group text-center">
        <Icon
          name="react"
          class="p-0 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          React
        </p>
      </div>

      <div class="relative group text-center">
        <Icon
          name="redux"
          class="p-0 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          Redux
        </p>
      </div>

      <div class="relative group text-center">
        <Icon
          name="bootstrap"
          class="p-0 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          Bootstrap
        </p>
      </div>
    </div>

    <div class="flex pb-1.5">
      <div class="relative group">
        <Icon
          name="django"
          class="py-1 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          Django
        </p>
      </div>
      <div class="relative group">
        <Icon
          name="sql-server"
          class="py-0.5 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          MSSQL
        </p>
      </div>
    </div>

    <div class="flex pb-1.5">
      <div class="relative group">
        <Icon
          name="apache"
          class="p-0 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          Apache
        </p>
      </div>
      <div class="relative group">
        <Icon
          name="ubuntu"
          class="p-0 m-0 transition-all duration-500 ease-in-out group-hover:-translate-y-2"
        />
        <p
          class="absolute top-0 w-full text-center text-xs font-semibold mt-3 opacity-0 transition-opacity duration-0 group-hover:translate-y-full group-hover:opacity-100 group-hover:duration-500"
        >
          Ubuntu
        </p>
      </div>
    </div>
  </div>
</article>


<style lang="css">
  [astro-icon] {
    width: 40px;
    height: 40px;
  }
</style>
