---
---

<section class="mt-12 px-7 mx-7">
    <!-- <h1 class="mb-4 text-df-text underline underline-offset-8 text-2xl font-extrabold leading-none tracking-tight md:text-3xl lg:text-4xl">Proyectos</h1> -->
    <h1 class="mb-4 text-df-text underline underline-offset-8 text-2xl font-extrabold leading-none tracking-tight md:text-3xl lg:text-4xl">Proyectos</h1>
    <p class="text-df-text mt-5 mb-3">Algunos de mis trabajos</p>
    <article class="bg-df-title grid grid-rows-[min-content_min-content] grid-cols-[2fr_3fr]">
            <div class="p-3 border text-df-background">
                <h3 class="text-1xl font-extrabold leading-none tracking-tight md:text-2xl lg:text-3xl">Licencias provisionales</h3>
                <p class="mt-2 text-1xl text-balance">Permite a los emprendedores obtener rápidamente las autorizaciones necesarias para desplegar sus ideas y proyectos en los espacios públicos de la ciudad de Piura - Perú.</p>
            </div>
            <div class="border row-span-2">02</div>
            <div class="border">03</div>
    </article>

    
</section>