---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import ArticleProjects from "./ArticleProjects.astro";
import image1 from "../screens/provisional1.jpg";
---

<section class="mt-12 px-7 mx-7">
  <!-- <h1 class="mb-4 text-df-text underline underline-offset-8 text-2xl font-extrabold leading-none tracking-tight md:text-3xl lg:text-4xl">Proyectos</h1> -->
  <h1
    class="mb-4 text-df-text underline underline-offset-8 text-2xl font-extrabold leading-none tracking-tight md:text-3xl lg:text-4xl"
  >
    Proyectos
  </h1>
  <p class="text-df-text mt-5 mb-3">Algunos de mis trabajos</p>

  <div id="cards">
    <div class="card" id="card_1">
      <ArticleProjects
        title="Licencias provisionales"
        description="Permite a los emprendedores obtener rápidamente las autorizaciones necesarias para desplegar sus ideas y proyectos en los espacios públicos de la ciudad de Piura - Perú."
        image={image1}
        class="card__content"
      >
        <>
          <div class="flex gap-1">
            <Icon name="react" class="" />
            <Icon name="redux" class="" />
            <Icon name="bootstrap" class="" />
          </div>
          <div class="flex">
            <Icon name="django" class="py-1" />
            <Icon name="sql-server" class="py-0.5" />
          </div>
          <div class="flex">
            <Icon name="apache" class="p-0 m-0" />
            <Icon name="ubuntu" class="p-0 m-0" />
          </div>
        </>
      </ArticleProjects>
    </div>

    <div class="card" id="card_2">
      <ArticleProjects
        title="Licencias provisionales"
        description="Permite a los emprendedores obtener rápidamente las autorizaciones necesarias para desplegar sus ideas y proyectos en los espacios públicos de la ciudad de Piura - Perú."
        image={image1}
        class="card__content"
      >
        <>
          <div class="flex gap-1">
            <Icon name="react" class="" />
            <Icon name="redux" class="" />
            <Icon name="bootstrap" class="" />
          </div>
          <div class="flex">
            <Icon name="django" class="py-1" />
            <Icon name="sql-server" class="py-0.5" />
          </div>
          <div class="flex">
            <Icon name="apache" class="p-0 m-0" />
            <Icon name="ubuntu" class="p-0 m-0" />
          </div>
        </>
      </ArticleProjects>
    </div>

    <div class="card" id="card_3">
      <ArticleProjects
        title="Licencias provisionales"
        description="Permite a los emprendedores obtener rápidamente las autorizaciones necesarias para desplegar sus ideas y proyectos en los espacios públicos de la ciudad de Piura - Perú."
        image={image1}
        class="card__content"
      >
        <>
          <div class="flex gap-1">
            <Icon name="react" class="" />
            <Icon name="redux" class="" />
            <Icon name="bootstrap" class="" />
          </div>
          <div class="flex">
            <Icon name="django" class="py-1" />
            <Icon name="sql-server" class="py-0.5" />
          </div>
          <div class="flex">
            <Icon name="apache" class="p-0 m-0" />
            <Icon name="ubuntu" class="p-0 m-0" />
          </div>
        </>
      </ArticleProjects>
    </div>

    <div class="card" id="card_4">
      <ArticleProjects
        title="Licencias provisionales"
        description="Permite a los emprendedores obtener rápidamente las autorizaciones necesarias para desplegar sus ideas y proyectos en los espacios públicos de la ciudad de Piura - Perú."
        image={image1}
        class="card__content"
      >
        <>
          <div class="flex gap-1">
            <Icon name="react" class="" />
            <Icon name="redux" class="" />
            <Icon name="bootstrap" class="" />
          </div>
          <div class="flex">
            <Icon name="django" class="py-1" />
            <Icon name="sql-server" class="py-0.5" />
          </div>
          <div class="flex">
            <Icon name="apache" class="p-0 m-0" />
            <Icon name="ubuntu" class="p-0 m-0" />
          </div>
        </>
      </ArticleProjects>
    </div>
  </div>

 
</section>

<!-- <ul id="cards">
  <li class="card" id="card_1">
    <div class="card__content">
      <div>
        <h2>Card One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><a href="#top" class="btn btn--accent">Read more</a></p>
      </div>
      <figure>
        <img
          src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-2.jpg"
          alt="Image description"
        />
      </figure>
    </div>
  </li>
  <li class="card" id="card_2">
    <div class="card__content">
      <div>
        <h2>Card Two</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><a href="#top" class="btn btn--accent">Read more</a></p>
      </div>
      <figure>
        <img
          src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-2.jpg"
          alt="Image description"
        />
      </figure>
    </div>
  </li>
  <li class="card" id="card_3">
    <div class="card__content">
      <div>
        <h2>Card Three</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><a href="#top" class="btn btn--accent">Read more</a></p>
      </div>
      <figure>
        <img
          src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-2.jpg"
          alt="Image description"
        />
      </figure>
    </div>
  </li>
  <li class="card" id="card_4">
    <div class="card__content">
      <div>
        <h2>Card Four</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><a href="#top" class="btn btn--accent">Read more</a></p>
      </div>
      <figure>
        <img
          src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-2.jpg"
          alt="Image description"
        />
      </figure>
    </div>
  </li>
</ul> -->

<style lang="css">
  [astro-icon] {
    width: 40px;
    height: 40px;
  }
</style>
