---

---

<section class="mt-12 text-dfText px-7 mx-7 max-w-[1000px] mx-auto">
  <h1
    class="mb-4 text-center underline underline-offset-8 text-2xl font-extrabold leading-none tracking-tight md:text-3xl lg:text-4xl pb-6"
  >
    Sobre mi
  </h1>
  <div class="lg:flex">
    <div class="flex justify-center lg:p-10">
      <img
        src="./assets/selfie.webp"
        alt="Mario Medina"
        class="h-auto max-w-xs"
      />
    </div>

    <div class="flex flex-col gap-3">
      <p class="m-1">
        ¡Hola! Soy Mario Medina Márquez, un apasionado ingeniero informático con
        más de 22 años de experiencia en el emocionante mundo del desarrollo de
        software. Resido en Piura, Perú, y mi carrera se ha centrado en la
        creación de soluciones tecnológicas.
      </p>
      <p class="m-1">
        Mi trayectoria incluye un período significativo en la Municipalidad
        Provincial de Piura, donde lideré el desarrollo de diversos sistemas de
        información y la administración de bases de datos. En este entorno, tuve
        el privilegio de contribuir al sector público mediante la creación de
        aplicaciones especializadas, sistemas de seguimiento de proyectos y
        herramientas de gestión de recursos humanos. Mi enfoque en la
        programación y diseño de software me ha permitido identificar y
        desarrollar soluciones personalizadas que abordan las necesidades
        específicas de la organización.
      </p>
      <p class="m-1">
        Hace dos años, decidí centrar mi atención en el fascinante mundo de los
        sistemas web, descubriendo así una nueva pasión. Esta orientación ha
        ampliado mi perspectiva y me ha permitido explorar nuevas tecnologías y
        enfoques para el desarrollo de soluciones online.
      </p>

      <p class="m-1">
        Estoy emocionado por la posibilidad de aplicar esta experiencia y pasión
        en nuevos desafíos. ¡Gracias por explorar mi portfolio!
      </p>
    </div>
  </div>
</section>
