---
import { Icon } from "astro-icon";
---

<section class="bg-dfBgSection text-dfText mt-12 pt-8 pb-10 px-8">
  <h1
    class="mb-6 underline underline-offset-8 text-2xl font-extrabold leading-none tracking-tight md:text-3xl lg:text-4xl"
  >
    Contáctame
  </h1>
  <div class="flex items-center">
    <p class="me-2">
      Ponte en contacto conmigo en <span class="text-dfLink"
        >mariomedinam@gmail.com</span
      > o sigueme en:
    </p>
    <div class="button-social-media">
      <a
        href="https://www.linkedin.com/in/mario-medina-265147254"
        class="social-link1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="linkedin" class="p-0 m-0" />
      </a>
      <a
        href="https://github.com/mariomediam/portfolio"
        target="_blank"
        rel="noopener noreferrer"
        class="social-link2"
      >
        <Icon name="github" class="p-0 m-0" />
      </a>
    </div>
  </div>

  
</section>

<style lang="css">
  [astro-icon] {
    width: 40px;
    height: 40px;
    /* color: #f4ac39;
    fill: #f4ac39; */
  }
</style>
