---

---

<header class="flex-row gap-4 mt-5 md:flex ">
  <div class="basis-1/2 flex flex-col justify-center text-center md:ps-20 md:text-left">
    <h1
      class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-df-title md:text-5xl lg:text-6xl dark:text-df-title"
    >
      Mario <br /> Medina
    </h1>
    <h5 class="text-2xl text-df-text">Desarrollador full stack</h5>
    <h6 class="text-df-text text-balance">
      Con +22 años de experiencia en desarrollo de software, centré mi atención
      en sistemas web en los últimos 2 años, hallando una nueva pasión.
    </h6>
  </div>
  <div class="basis-1/2 my-6">
    <img
      src="./assets/me.webp"
      alt="Mario Medina"
      class="h-auto max-w-sm object-cover mx-auto"
    />
  </div>
</header>
