.button-social-media {
    display: flex;
    height: 70px;
    width: 270px;
  }
  
  .button-social-media svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .button-social-media .social-link1,.button-social-media .social-link2,.button-social-media .social-link3,.button-social-media .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .button-social-media svg {
    transform: scale(1);
  }

  
  .button-social-media .social-link1:hover {
    background-color: #0077B5;
    animation: bounce_613 0.4s linear;        
  }
  
  .button-social-media .social-link2:hover {
    background-color: #000000;
    animation: bounce_613 0.4s linear;
  }
  
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }